{% extends "layout.html" %}

{% block title %}Moim{% endblock title %}

{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <br>
      <h1 class="header center blue-text">Moim - 모임 서비스</h1>
      <div class="row center">
        <h5 class="header col s12 light">클릭 하나로 모임을 만들고, 관리해 보세요!</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button"
           class="btn-large waves-effect waves-light light-blue darken-4">지금 만들기!</a>
      </div>
      <br>
      <br>
    
    </div>
  </div>
  
  <div class="container">
    <div class="section">
      
      <h2 class="header center blue-text">개최된 모임들</h2>

      {% for row in meetups %}
        {% if row|length > 0 %}
          <div class="row">
            {% for meetup in row %}
              <div class="col s12 m4">
                <div class="icon-block">
                  <a href="/moim/{{ meetup.id }}"><h5 class="center">{{ meetup.name }}</h5></a>
                  <p class="center">{{ meetup.about }}</p>
                  <img src="/{{ meetup.image_path }}" alt="{{ meetup.image_path }}" width="250px"/>
                </div>
              </div>
            {% endfor %}
          </div>
        {% endif %}
      {% endfor %}

      <br>
      <br>

      <div class="row center">
        <a href="#" id="download-button"
           class="btn-large waves-effect waves-light light-blue darken-4">이전</a>
        <a href="#" id="download-button"
           class="btn-large waves-effect waves-light light-blue darken-4">다음</a>
      </div>
    </div>

  </div>


{% endblock content %}