{% extends "layout.html" %}

{% block title %}Moim{% endblock title %}

{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <br>
      <h1 class="header center blue-text">Moim - 모임 서비스</h1>
      <div class="row center">
        <h5 class="header col s12 light">클릭 하나로 모임을 만들고, 관리해 보세요!</h5>
      </div>
      <div class="row center">
        <a href="#" id="download-button"
           class="btn-large waves-effect waves-light light-blue darken-4">지금 만들기!</a>
      </div>
      <br>
      <br>

    </div>
  </div>

  <div class="container">
    <div class="section">

      <h2 class="header center blue-text">개최된 모임들</h2>

      <!--   Icon Section   -->
      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">모임 1</h5>

            <p class="light">모임 1 커버 이미지</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">모임 2</h5>

            <p class="light">모임 2 커버 이미지</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">모임 3</h5>

            <p class="light">모임 3 커버 이미지</p>
          </div>
        </div>
      </div>

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">모임 4</h5>

            <p class="light">모임 4 커버 이미지</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">모임 5</h5>

            <p class="light">모임 5 커버 이미지</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">모임 6</h5>

            <p class="light">모임 6 커버 이미지</p>
          </div>
        </div>

      </div>

      <div class="row">
        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">모임 7</h5>

            <p class="light">모임 7 커버 이미지</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">모임 8</h5>

            <p class="light">모임 8 커버 이미지</p>
          </div>
        </div>

        <div class="col s12 m4">
          <div class="icon-block">
            <h5 class="center">모임 9</h5>

            <p class="light">모임 9 커버 이미지</p>
          </div>
        </div>
      </div>

      <br>
      <br>
    </div>
  </div>
{% endblock content %}