<!DOCTYPE html>
<html lang="en">

  <head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1.0"/>
    <title>{% block title %}Your Title{% endblock title %}</title>

    <!-- CSS  -->
    {% load static %}
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link href="{% static 'materialize/css/materialize.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
    <link href="{% static 'materialize/css/style.css' %}" type="text/css" rel="stylesheet" media="screen,projection"/>
  </head>

  <body>
      <nav class="light-blue darken-4" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo">Moim</a>
          <ul class="right hide-on-med-and-down">
            <li>
              <a href="#">홈</a>
            </li>
            <li>
              <a href="#">모임 만들기</a>
            </li>
            <li>
              <a href="#">로그인</a>
            </li>
            <li>
              <a href="#">회원가입</a>
            </li>
          </ul>

          <ul id="nav-mobile" class="side-nav">
            <li>
            <li>
              <a href="#">홈</a>
            </li>
            <li>
              <a href="#">모임 만들기</a>
            </li>
            <li>
              <a href="#">로그인</a>
            </li>
            <li>
              <a href="#">회원가입</a>
            </li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse">
            <i class="material-icons">menu</i>
          </a>
        </div>
      </nav>

    {% block content %}{% endblock content %}


    <footer class="page-footer light-blue darken-4">
      <div class="container">
        <div class="row">
          <div class="col l9 s12">
            <h5 class="white-text">모임 - Moim</h5>
            <p class="grey-text text-lighten-4">
              Moim 은 클릭 한 번으로, 모임을 만들고, 관리하고, 참여할 수 있는 서비스입니다!
            </p>
          </div>
          <div class="col l3 s12">
            <h5 class="white-text">Contact</h5>
            <ul>
              <li>
                <a class="white-text" href="mailto:bisschoi9541@gmail.com">Email</a>
              </li>
              <li>
                <a class="white-text" href="https://github.com/gyukebox">GitHub</a>
              </li>
            </ul>
          </div>
        </div>
      </div>
      <div class="footer-copyright">
        <div class="container">
          Powered by
          <a class="orange-text text-lighten-3" href="http://materializecss.com">Materialize</a>
        </div>
      </div>
    </footer>

    <!--  Scripts-->
    <script src="https://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="{% static 'materialize/js/materialize.js' %}"></script>
    <script src="{% static 'materialize/js/init.js' %}"></script>

  </body>

</html>