{% extends "layout.html" %}
{% load static %}

{% block title %}로그인{% endblock title %}

{% block content %}
  <div class="container">
    <form id="id_login" action="/users/login/" method="post">
      {% csrf_token %}
      {{ form.as_p }}
      <button id="id_login_button" class="btn waves-effect waves-light light-blue darken-4" type="submit" name="action">로그인
        <i class="material-icons right">send</i>
      </button>
    </form>
  </div>
{% endblock content %}

{% block scripts %}
  <script src="{% static 'scripts/login.js' %}"></script>
{% endblock scripts %}