{% extends "layout.html" %}
{% load static %}

{% block title %}{{ title }}{% endblock title %}

{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <br>

      <h1 class="header center blue-text">{{ title }}</h1>

      <h4 class="header center blue-text">{{ created_by }} 주최, {{ starts_at }} 시</h4>

      <div class="row center">
        <h5 class="header col s12 light">{{ summary }}</h5>
      </div>
      <p class="center">{{ description }}</p>
      <div class="row center">
        <img src="/{{ image_path }}" alt="{{ image_path }}"/>
      </div>
      <h3 class="header center blue-text">{{ attendees|length }}/{{ max_attendee }} 참여중</h3>
      <p class="center">
        참가자 :
        {% for person in attendees %}
          {{ person }},
        {% endfor %}
      </p>
      <div class="row center">
        <a href="#" id="download-button"
           class="btn-large waves-effect waves-light light-blue darken-4">참여하기!</a>
        <a href="#" id="download-button"
           class="btn-large waves-effect waves-light light-blue darken-4">돌아가기</a>
      </div>
      <br>
      <br>

    </div>
  </div>
{% endblock content %}