{% extends "layout.html" %}
{% load static %}

{% block title %}모임 1 제목{% endblock title %}

{% block content %}
  <div class="section no-pad-bot" id="index-banner">
    <div class="container">
      <br>
      <br>
      <h1 class="header center blue-text">모임 1 제목</h1>
      <div class="row center">
        <h5 class="header col s12 light">모임 1 요약</h5>
      </div>
      <div class="row center">
        <img src="{% static 'images/moim-1.jpg' %}" alt="모임 1 이미지" />
      </div>
      <h3 class="header center blue-text">참여 현황</h3>
      <div class="row center">
        <a href="#" id="download-button"
           class="btn-large waves-effect waves-light light-blue darken-4">참여하기!</a>
      </div>
      <br>
      <br>

    </div>
  </div>
{% endblock content %}